{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-------------------------------------------- image slider ------------------------------------------------->
    <section id="image-slider">



        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/slideshow/Slider_02.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/slideshow/Slider_03.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/slideshow/Slider_04.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </section>

    <!----------------------------------featured section-------------------------------------------->

    <section id="featured-section">



        <!--product-categories-slider---------------------->
        <ul class="container">

            <div class="feature-heading">
                <h2>featured categories</h2>
            </div>

            <!--box-1--------------------->
            <li class="item">
                <div class="feature-box">
                    <a href="#">
                        <img src="/static/images/card slider/feature_4.jpg">
                    </a>
                </div>
                <span>Living Room Decor</span>
            </li>
            <!--box-2--------------------->
            <li class="item">
                <div class="feature-box">
                    <a href="#">
                        <img src="/static/images/card slider/feature_5.jpg">
                    </a>
                </div>
                <span>Garden Decor</span>
            </li>
            <!--box-3--------------------->
            <li class="item">
                <div class="feature-box">
                    <a href="#">
                        <img src="/static/images/card slider/feature_3.jpg">
                    </a>
                </div>
                <span>Ladies Pouch</span>
            </li>
            <!--box-4--------------------->
            <li class="item">
                <div class="feature-box">
                    <a href="#">
                        <img src="/static/images/card slider/feature_1.jpg">
                    </a>
                </div>
                <span>Collectible Decor</span>
            </li>
            <!--box-5--------------------->
            <li class="item">
                <div class="feature-box">
                    <a href="#">
                        <img src="/static/images/card slider/feature_2.jpg">
                    </a>
                </div>
                <span>Gifts</span>
            </li>


        </ul>

    </section>

    <!--------------------------------------------sliding offers-------------------------------------------->

    <section id="sliding-offers">

        <div class="feature-heading">
            <h2>offer of the week</h2>
        </div>

        
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-4">
                            <ul id="autoWidth" class="cs-hidden">
                                <!--1------------------------------------>
                                <li class="item-a">
                                    <!--box-slider--------------->
                                    <div class="box">
                                        <!--img-box---------->
                                        <div class="slide-img">
                                            <img alt="1" src="{{ product.imageURL }}">
                                            <!--overlayer---------->
                                            <div class="overlay">
                                                <!--buy-btn------>
                                                <button class="buy-btn add-btn update-cart" data-action = "add" type = "button" data-product = "{{ product.id }}">Add to cart</button>
                                            </div>
                                        </div>
                                        <!--detail-box--------->
                                        <div class="detail-box">
                                            <!--type-------->
                                            <div class="type">
                                                <a href="#">{{ product.product_name }}</a>
                                                <span>Pack of {{ product.quantity }}</span>
                                            </div>
                                            <!--price-------->
                                            <a href="#" class="price">${{ product.price }}</a>

                                        </div>

                                    </div>
                                </li>
                        </div>
                        {% endfor %}
                        <!-- <div class="col-md-4">
                            <li class="item-b">
                                <div class="box">
                                    <div class="slide-img">
                                        <img alt="2" src="/static/images/offer of the week/offer_2.jpg">
                                        <div class="overlay">
                                            <a href="#" class="buy-btn" data-name="">Add to cart</a>
                                        </div>
                                    </div>
                                    <div class="detail-box">
                                        <div class="type">
                                            <a href="#">GADGETS WRAP Iron Man 2 Fake Window Style Wall Decal Fo...</a>
                                            <span>Multicolor</span>
                                        </div>
                                        <a href="#" class="price">$20</a>

                                    </div>

                                </div>
                            </li>
                        </div> -->
                        <!-- <div class="col-md-4">
                            <li class="item-c">
                                <div class="box">
                                    <div class="slide-img">
                                        <img alt="3" src="/static/images/offer of the week/offer_3.jpg">
                                        <div class="overlay">
                                            <a href="#" class="buy-btn">Add to cart</a>
                                        </div>
                                    </div>
                                    <div class="detail-box">
                                        <div class="type">
                                            <a href="#">nipiri universe Artificial Rose Flowers Red Natural Loo...</a>
                                            <span>16 inch, Pack of 15</span>
                                        </div>
                                        <a href="#" class="price">$26</a>

                                    </div>

                                </div>
                            </li>
                        </div>

                    </div>
                 -->

                
                    <!-- <div class="row">
                        <div class="col-md-4">
                            <!--4
                            <li class="item-d">
                                <div class="box">
                                    <div class="slide-img">
                                        <img alt="4" src="/static/images/offer of the week/offer_.4jpg">
                                        <div class="overlay">
                                            <a href="#" class="buy-btn">Add to cart</a>
                                        </div>
                                    </div> -->
                                    <!--detail-box--------->
                                    <!-- <div class="detail-box"> -->
                                        <!--type-------->
                                        <!-- <div class="type">
                                            <a href="#">Marwari Arts Owl Design Ceramic Pots Planter Container ...</a>
                                            <span>Pack of 2, Ceramic</span>
                                        </div> -->
                                        <!--price-------->
                                        <!-- <a href="#" class="price">$27</a>

                                    </div>

                                </div>
                            </li>
                        </div>
                        <div class="col-md-4"> -->
                            <!--5------------------------------------>
                            <!-- <li class="item-e"> -->
                                <!--box-slider--------------->
                                <!-- <div class="box"> -->
                                    <!--img-box---------->
                                    <!-- <div class="slide-img">
                                        <img alt="5" src="/static/images/offer of the week/offer_5.jpg"> -->
                                        <!--overlayer---------->
                                        <!-- <div class="overlay"> -->
                                            <!--buy-btn------>
                                            <!-- <a href="#" class="buy-btn">Add to cart</a>
                                        </div>
                                    </div> -->
                                    <!--detail-box--------->
                                    <!-- <div class="detail-box"> -->
                                        <!--type-------->
                                        <!-- <div class="type">
                                            <a href="#">BEARD TREATMENT (HEAVY GROW</a>
                                            <span>Quantity 30 ml, 60 ml</span>
                                        </div> -->
                                        <!--price-------->
                                        <!-- <a href="#" class="price">$26</a>

                                    </div>

                                </div>
                            </li>
                        </div>
                        <div class="col-md-4"> -->
                            <!--6------------------------------------>
                            <!-- <li class="item-f"> -->
                                <!--box-slider--------------->
                                <!-- <div class="box"> -->
                                    <!--img-box---------->
                                    <!-- <div class="slide-img">
                                        <img alt="6" src="/static/images/offer of the week/offer_6.jpg"> -->
                                        <!--overlayer---------->
                                        <!-- <div class="overlay"> -->
                                            <!--buy-btn------>
                                            <!-- <a href="#" class="buy-btn">Add to cart</a>
                                        </div>
                                    </div> -->
                                    <!--detail-box--------->
                                    <!-- <div class="detail-box"> -->
                                        <!--type-------->
                                        <!-- <div class="type">
                                            <a href="#">Casual Blue Clutch</a>
                                            <span>Belladona</span>
                                        </div> -->
                                        <!--price-------->
                                        <!-- <a href="#" class="price">$30</a>

                                    </div>

                                </div>
                            </li>
                        </div> -->
                    </div>

                

    </section>

    <script >
        var updateBtns = document.getElementsByClassName('update-cart')

    for(var i = 0; i < updateBtns.length; i++){
    updateBtns[i].addEventListener('click', function(){
    
    var productId = this.dataset.product
    var action = this.dataset.action
    var val = document.getElementById("cart-total").textContent
    if (action == 'add'){
        val ++;
    }else{
        val --;
    }
    console.log('new cart', val)
    document.getElementById("cart-total").innerHTML = val
    console.log('productId:', productId, 'action :', action )
    console.log('USER:',user)

    if (user == 'AnonymousUser'){
        console.log('User not logged')

    }
    else{
        updateUserOrder(productId,action)
    }
})
}
function updateUserOrder(productId, action){
    console.log('User logged in, sending data...')

    var url = '/update_item/'
    console.log('URL:', url)

    fetch(url,{
        method:'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken':csrftoken,

        },
        body:JSON.stringify({'productId':productId, 'action':action})

    })

    .then((response)=>{
        return response.json()
    })

    .then((data)=>{
        console.log('Data:',data)
        location.reload()
    })

}
    </script>

{% endblock content %}