{% extends 'base.html' %}
{% load staticfiles %}

	{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    {% endblock custom_css %}
    
    {% block content %}
	<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="{{ profiles.imageURL }}" class="img-radius" alt="User-Profile-Image" height="300px" width="300px"> </div>
                                <h6 class="f-w-600" style='font-size:20px'>{{ profiles.user.username }}</h6>
                                <a href="{% url 'profile_edit' %}"><i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-8" style="margin-top:5rem">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        
                                        <p class="m-b-10 f-w-600">Full Name</p>
                                        <h6 class="text-muted f-w-400">{{ profiles.name }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{ profiles.email }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">{{profiles.phone}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                <div class="row">
                                    
                                    <!-- <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Most Viewed</p>
                                        <h6 class="text-muted f-w-400">Dinoter husainm</h6>
                                    </div> -->
                                    <div class="col-sm-6">
                                        <form method="POST" action="{% url 'logout' %}">
                                            {% csrf_token %}
                                            <button type="submit" class='btn btn-danger'>Log Out</button>
                                            
                                        </form> 
                                        
                                    </div>
                                    <form action="{% url 'view_orders' %}" method='POST'>
                                        {% csrf_token %}
                                        <button type="submit" class='btn btn-primary'>Order Details</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}